[submodule "php"]
	path = php
	url = https://github.com/gothfox/Tiny-Tiny-RSS.git
[submodule "misc/php/themes/feedly"]
	path = misc/php/themes/feedly
	url = https://github.com/levito/tt-rss-feedly-theme.git
