[submodule "php"]
	path = php
	url = https://github.com/gothfox/Tiny-Tiny-RSS.git
[submodule "misc/php/themes/feedly"]
	path = misc/php/themes/feedly
	url = https://github.com/maru-sama/tt-rss-feedly-theme.git 
[submodule "misc/php/plugins/Tiny-Tiny-RSS-Contrib"]
	path = misc/php/plugins/Tiny-Tiny-RSS-Contrib
	url = https://github.com/gothfox/Tiny-Tiny-RSS-Contrib.git
[submodule "misc/php/plugins/fever-plugin"]
	path = misc/php/plugins/fever-plugin
	url = https://github.com/maru-sama/tinytinyrss-fever-plugin
[submodule "misc/php/plugins/videoframes"]
	path = misc/php/plugins/videoframes
	url = https://github.com/tribut/ttrss-videoframes.git
[submodule "misc/php/plugins/ttrss-plugins"]
	path = misc/php/plugins/ttrss-plugins
	url = https://github.com/maru-sama/ttrss-plugins.git
